<p>

        <a [routerLink]="['/admin/products/new']" class="btn btn-primary"> new products</a>


</p>
<p><input type="text" class="form-control" #query (keyup)="filter(query.value)" placeholder="Search..."></p>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<tr *ngFor="let p of customers">
    <td>{{p.title}}</td>
    <td>{{p.price}}</td>
    <td>

<a [routerLink]="['/admin/products/',p.key ]">Edit</a>

    </td>
</tr>


<!-- 
<p>

    <a [routerLink]="['/admin/products/new']" class="btn btn-primary"> new products</a>


</p>

<table class="table">
<thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </tr>
</thead>
<tbody>
<tr *ngFor="let p of products$">
<td>{{p.title}}</td>
<td>{{p.price}}</td>
<td>

<a [routerLink]="['/admin/products/',p.key ]">Edit</a>

</td>
</tr>


</tbody>
</table>
 -->



    </tbody>
</table>

